.App {
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  &__header {
    min-height: 80px;
    background-color: orange;
    display: flex;
    align-items: center;
    padding: 0px 20px;
  }

  &__list-contact {
    overflow-y: auto;
    padding: 0px 20px;
    position: relative;
    height: 100%;
  }
  &__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding:0px 0px 20px 0px ;
    background-color: aqua;
  }
  &__pagination-item {
    cursor: pointer;
    font-size: 25px;
    padding: 15px;
  }
  &__body {
    border: 3px solid orange;
    overflow: hidden;
    border-radius: 5px;
    width: 90vw;
    background-color: rgb(0, 0, 0, 0.2);
    height: 90vh;
    left: 50%;
    padding: 0px 0px 100px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
