.contact-item {
  padding: 10px;
  background-color: #fff;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__name {
    font-size: 25px;
    font-weight: 600;
  }
  &__phone {
    font-size: 24px;
    font-family: monospace;
    & span {
      font-size: 20px;
    }
  }
  &__action {
    button {
      display: block;
      margin:20px 0px 0px 0px;
    }
  }
}
