.error {
  width: 450px;
  max-height: 250px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: red;
  &__text {
    margin: 0px 0px 0px 40px;
    font-size: 20px;
    color: white;
  }
}
