.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 10;
  background-color: rgb(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  &__actions {
    display: flex;
    justify-content: space-evenly;
  }
  &__form {
    width: 50%;
    margin: 20px auto;
  }
  &__close {
    position: absolute;
    top: 10px;
    line-height: 0;
    right: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      color: red;
    }
  }
  &__body {
    padding: 10px;
    position: relative;
    width: 600px;
    min-height: 300px;
    max-height: 350px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  &__confirm {
    font-size: 25px;
    text-align: center;
    margin: 60px 0px;
  }
  &__error {
    min-height: 40px;
    max-height: 90px;
    overflow-y: auto;
    color: red;
    text-align: center;
    margin: 0px 0px 20px;
  }
}
